.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content{
  padding: 15px;

  h5{
    text-align: center;
  }

  h6{
    text-align: center;
  }
}

.form-group{
  margin-right: 400px;

  label{
    font-size: 20px;
  }
}