.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .tags-container{
    display: flex;
    flex-wrap: wrap;
    
    .tags{
      font-size: 14px;
      border: 1px solid lightgreen;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 18px;
      padding: 3px 10px;
      cursor: pointer;
    }

    .tag-set{
      background-color: lightyellow;
    }
  }
}

.tag-text{
  display: inline-block;
}

#index-h1{
  padding-left: 14px;
}

.card-content{
  padding: 15px;

  h5{
    text-align: center;
  }

  h6{
    text-align: center;
  }
}

.custom-form{
  margin-right: 400px;

  label{
    font-size: 20px;
  }
}

.form-check{
  font-size: 16px;
  display: inline-block;
  margin-right: 10px;
}

.links-post{
  display: flex;
  font-size: 16px;

  .red:hover{
    color: red;
  }

  .blue:hover{
    color: rgb(1, 116, 177);
  }

  a{
    color: black;
    padding-right: 20px;
  }

  input{
    padding-right: 20px;
    cursor: pointer;
    background: none;
    border: none;
  }
}