.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content{
  padding: 15px;

  h5{
    text-align: center;
  }

  h6{
    text-align: center;
  }
}

.form-group{
  margin-right: 400px;

  label{
    font-size: 20px;
  }
}

.links-post{
  display: flex;

  .red:hover{
    color: red;
  }

  .blue:hover{
    color: rgb(1, 116, 177);
  }

  a{
    color: black;
    padding-inline: 10px;
  }

  input{
    padding-inline: 10px;
    cursor: pointer;
    background: none;
    border: none;
  }
}